In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.0.3

In [4]:
#series - one dimensional array of any type
import pandas as pd
a=[1,2,3]
myVar = pd.Series(a)
print(myVar)
d=['hello','cat']
myVar1 = pd.Series(d)
print(myVar1)

0    1
1    2
2    3
dtype: int64
0    hello
1      cat
dtype: object

In [5]:
#Labels - default index value as number from 0
myVar1[1]

'cat'

In [6]:
#create Labels
a=[1,5,8]
myvarLabel = pd.Series(a,index=['r1','r2','r3'])
print(myvarLabel)

r1    1
r2    5
r3    8
dtype: int64

In [7]:
#Referring Label
print(myvarLabel["r1"])

1

In [2]:
#key value object - series from dictionary
import pandas as pd
student = {"student_name":"Mary","student_id":10,"student_marks":630.5}
myDic = pd.Series(student)
print(myDic) #keys becomes label

student_name      Mary
student_id          10
student_marks    630.5
dtype: object

In [4]:
print(myDic["student_name"])
# Series using only data from index
myDic1 = pd.Series(student,index=["student_id","student_marks"]) 
print(myDic1)

Mary
student_id          10
student_marks    630.5
dtype: object

In [6]:
#dataframe - multidimensional tables
import pandas as pd
emp = {
    "dept1" : ['Jack','IT',12],
    "dept2" :['Julie','HR',22]
}
mydata = pd.DataFrame(emp)
print(mydata)

  dept1  dept2
0  Jack  Julie
1    IT     HR
2    12     22

In [11]:
#locate row - pandas use loc to define row
print(mydata.loc[0])
print(mydata.loc[1])
print(mydata['dept1'])

dept1     Jack
dept2    Julie
Name: 0, dtype: object
dept1    IT
dept2    HR
Name: 1, dtype: object
0    Jack
1      IT
2      12
Name: dept1, dtype: object

In [13]:
print(mydata.loc[[0,1]])
#When using [], the result is a Pandas DataFrame.

  dept1  dept2
0  Jack  Julie
1    IT     HR

In [14]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [15]:
#locate named reference
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64